@import url('https://fonts.googleapis.com/css2?family=Barlow:100,200,300,400,500,600');

@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Roboto&display=swap');

.card {
    width: 300px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Barlow', sans-serif;
    background-color: #464866;
}

h1 {
    font-family: 'Roboto', sans-serif;
}
/*----------------------------------------Header Section*/

.navbar {
    align-items: center;
    background:#25274D;
    color: #2E9CCA;
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 100%;
}

.navbar .navbar-brand {
    color: #2E9CCA;
    font-family: Saira, sans-serif;
    font-size: 36px;
    font-weight: 500;
    text-transform: uppercase;
}

.navbar .navbar-nav .nav-link {
    color: #2E9CCA;
    font-family: Saira, sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.navbar .navbar-nav .nav-link:hover {
   background-color: rgba(170, 171, 184, 0.10);
}

/*----------------------------------------Jumbotron*/

.jumbotron {
    background-color: #464866;
}

.jumbotron h1 {
    text-transform: uppercase;
    color: #f1f1f1;
    text-align: center;
}

.jumbotron p {
    text-transform: uppercase;
    color: #f1f1f1;
    text-align: center;
    font-style: italic;
}


/*----------------------------------------Home page cards*/

.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

.row {
    margin: 0 -5px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

/*----------------------------------------Footer Section*/

footer {
    height: 70px;
    background: #25274D;
    margin: 0;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.footer-items {
    text-align: center;
}

.footer-items li {
    display: inline;
}

.container-fluid {
    position: absolute;
    bottom: 0;
}

.social-network-icons {
    text-align: center;
}

.social-network-icons li {
    display: inline;
}

.social-network-icons i {
    font-size: 150%;
    margin: 15px;
    padding: 10px;
    color: #2E9CCA;
}

/*----------------------------------------Footer Section*/

/*----------------------------------------Media Queries*/

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}