@import url('https://fonts.googleapis.com/css2?family=Barlow:100,200,300,400,500,600');

@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Roboto&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Barlow', sans-serif;
    background-color: #464866;
}

h1 {
    font-family: 'Roboto', sans-serif;
    margin-top: 80px;
}

h4 {
    font-family: Barlow, sans-serif;
    text-align: center;
    font-weight: 700;
}
/*----------------------------------------Header Section*/

.navbar {
    align-items: center;
    background:#25274D;
    color: #2E9CCA;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.navbar .navbar-brand {
    color: #2E9CCA;
    font-family: Saira, sans-serif;
    font-size: 36px;
    font-weight: 500;
    text-transform: uppercase;
}

.navbar .navbar-nav .nav-link {
    color: #2E9CCA;
    font-family: Saira, sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.navbar .navbar-nav .nav-link:hover {
   background-color: rgba(170, 171, 184, 0.10);
}

/*----------------------------------------Jumbotron*/

.jumbotron {
    background-color: #464866;
    background-image: url(https://images.unsplash.com/photo-1473976345543-9ffc928e648d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=4985&q=80);
    background-size: cover;
}

.jumbotron h1 {
    text-transform: uppercase;
    color: #f1f1f1;
    text-align: center;
    letter-spacing: 2px;
}

.jumbotron p {
    font-size: 20px;
    color: #f1f1f1;
    text-align: center;
    font-style: italic;
}




/*----------------------------------------Home page cards*/

.col {
    float: left;
    width: 50%;
    padding: 10px 10px;
}

.row {
    margin: 0 -5px;
}

.div .card {
    position: center;
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
}

.card-body {
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
}

.card-text {
    text-align: center;
}

/*----------------------------------------Footer Section*/

.footer {
	height: 70px;
	line-height: 60px;
	background:#25274D;
	margin: 0;
	width: 100%;
	position: fixed;
	margin-top: 20px;
}

.footer-items {
	text-align: center;
}

.footer-items li {
	display: inline;
}

.social-network-icons {
	text-align: center;
}

.social-network-icons li {
	display: inline;
}

.social-network-icons li a {
	text-decoration: none;
}

.social-network-icons i {
	font-size: 150%;
	margin: 15px;
	padding: 10px;
	color: #2E9CCA;
}

.footer-color {
	background-color: #25274D;
}

.social-network-icons i:hover {
	background-color:rgba(170, 171, 184, 0.10);
}

/*----------------------------------------Media Queries*/

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }

  .jumbotron h1 {
      font-size: 30px;
  }

  .jumbotron p {
      font-size: 15px;
  }
}